/* RESET DE CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Encabezado de todo el sitio */
header {
    background-color: rgba(255, 0, 0, 0.295);
    padding: 5px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 25px;
    background-color: rgba(7, 7, 7, 0.288);
    ;
    border-radius: 50px;
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: aliceblue;
    margin: 10px;
}

.nav-link {
    color: aliceblue;
    font-size: 20px;
    background-color: rgba(7, 7, 7, 0.37);
    ;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
}

.contenedor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
    padding: 1px;
}


/* cuerpo */
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../fotos/fondo.jpg);
}

/* margen del cuerpo */
body main {
    margin: 30px;
    padding-top: 100px;
}

.contenedor_grid {
    display: grid;
    grid-template-areas:
        "imagen"
        "texto";
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.contenido_texto {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -50%;
    padding: 20px;
}

/* Titulo de inicio */

.inicio_h1 {

    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 500px;
    text-align: center;
    font-size: 3vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    max-width: 90%;
}

/* subtitulo de inicio */
.inicio_h2 {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 1000px;
    text-align: center;
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    max-width: 90%;
    margin-top: 2%;
}

/* boton para ver mas */
.btn-secondary {
    color: rgb(255, 255, 255);
    background-color: rgba(90, 90, 90, 0.952);
    border-radius: 1000px;
    text-align: center;
    font-size: 1vw;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    max-width: 90%;
}

.imagen_inicio {
    grid-area: imagen;
    width: 100%;
    height: auto;
    display: block;
}

/* imagen de banda cordoba */
div img {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
}

/* fondo de parrafo index */
.historia {
    background-image: url(../fotos/fondo_parrafo.jpg);
    border-radius: 30px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: rgb(250, 235, 215);
    margin-bottom: 0%;
    margin-top: 0%;
}

.historia h2 {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.historia h3 {
    margin: 5%;
    font-size: 33px;
    text-decoration: underline;
}

.historia p {
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

.historia img {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 30px;
}

/* Fin de index */

/* comienzo pagina instalaciones */

.titulo_instalaciones {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.651);
    text-align: center;
    font-size: 3vw;
    border-radius: 30px;
}

.instalaciones {
    background-image: url(../fotos/fondo_parrafo.jpg);
    border-radius: 30px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: rgb(250, 235, 215);
    margin-bottom: 0%;
    margin-top: 0%;
}

.instalaciones img {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 30px;
}

.instalaciones h2 {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.instalaciones p {
    font-size: 20px;
}

/* fin pagina instalaciones */

/* inicio pagina eventos */

.titulo_eventos {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.651);
    text-align: center;
    font-size: 5vw;
    border-radius: 30px;
}

.eventos {
    color: rgb(248, 248, 255);
    background-image: url(../fotos/fondo_parrafo.jpg);
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    padding: 20px;
    width: 100%;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
}

.eventos article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.eventos a {
    display: flex;
    text-align: justify;
    text-decoration: none;
    color: rgb(0, 191, 255);
}

.eventos img {
    display: block;
    margin: 0 auto;

}

.card {
    background-color: darkgrey;
}

.card-title {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.178);
    text-align: center;
}

.card-text {
    color: rgb(255, 255, 255);
    background-color: rgba(87, 85, 85, 0.699);
    text-align: center;
    font-style: italic;
}

.btn-primary {
    background-color: rgb(255, 255, 255);
}

.btn-primary:hover {
    color: #ffe600;
    background-color: #001affe5;
    border-color: #fbff00;
}

.eventos a {
    color: black;
    text-align: center;
}

/* Fin pagina eventos */

/* inicio pagina contacto */

.formulario_contacto {
    width: 400px;
    background-image: url(../fotos/fondo_parrafo.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: rgb(250, 235, 215);
    margin: auto;

}

form {
    font-size: 200%;
}

/* PIE DE PAGINA */

footer p {
    color: rgb(248, 248, 255);
    font-size: large;
    display: flex;
    justify-content: center;
}

.pie {
    display: flex;
    justify-content: space-around;
}

footer img {
    max-width: 70px;
    height: auto;
    margin: 10px;
    vertical-align: middle;
}

/* fin pie de pagina */

/* MEDIA PANTALLAS CHICAS */

@media (max-width: 480px) {
    .inicio_h1 {
        top: 25%;
        font-size: 10px;
        padding: 10px;
    }

    .inicio_h2 {
        top: 40%;
        font-size: 6px;
        padding: 10px;
    }

    .boton_h2 {
        top: 35%;
        padding: 0px;
    }

    /* .eventos{
        
    } */
}