/* PIE DE PAGINA */

footer p {
    color: rgb(248, 248, 255);
    font-size: large;
    display: flex;
    justify-content: center;
}

.pie {
    display: flex;
    justify-content: space-around;
}

footer img {
    max-width: 70px;
    height: auto;
    margin: 10px;
    vertical-align: middle;
}

/* fin pie de pagina */

/* MEDIA PANTALLAS CHICAS */

@media (max-width: 480px) {
    .inicio_h1 {
        top: 25%;
        font-size: 10px;
        padding: 10px;
    }

    .inicio_h2 {
        top: 40%;
        font-size: 6px;
        padding: 10px;
    }

    .boton_h2 {
        top: 35%;
        padding: 0px;
    }

    /* .eventos{
        
    } */
}